{{input value=filterText type='text' placeholder='filter'}}
<ul class="country-list">
    {{#each country in filteredResults}}
        <li>{{link-to country.name 'country' country}}</li>
    {{/each}}
</ul>

{{#bootstrap-modal title=getDate EnableModal=EnableModal}}
    <ul class="title-list">
    {{#each title in getNewsHeadlines}}
        <li><strong>{{title}}</strong></li>
    {{/each}}
    </ul>
{{/bootstrap-modal}}

{{outlet}}