<ul class="country-list">
    {{#each country in model}}
        <li>{{link-to country.name 'country' country}}</li>
    {{/each}}
</ul>

<div class="chart-stuff">
    {{ember-chart type='Line' data=chartData width=300 height=300}}
</div>


{{outlet}}