<div class="detail">
    <h2>{{model.name}}</h2>

    <p>Country Code: <strong>{{model.country_code}}</strong></p>

    <p>Current Exchange Rate: <strong>{{model.rate}}</strong></p>

    <p>Date taken: <strong>{{model.date}}</strong></p>
</div>
